.contrainer{
    color: #7b7b7b;
    gap: 20px;
    display: flex;
    padding: 10px;
}

.card {
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 6px #565656;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    display: block;
}

.card-description {
    padding: 15px;
    font-size: 16px;
    color: #333333;
    text-align: center;
}

.contrainer div {
    background-color: #fe0000;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: #fbfbfb;
}
